
*.pdb
external/
*.obj
*.ipch
*.dll
*.log
*.idb
*.CopyComplete
*.tlog
*.pch
*.lib
*.exe
*.db-wal
*.db
*.opendb
Project/05_MidiPlayer/win32/.vs/MidiPlayer/v16/.suo
*.db-shm
*.ilk
*.txt
*.recipe
Project/04_IMSPlayer/win32/.vs/IMSPlayer/v16/.suo
Project/02_HelloSDL2/win32/.vs/HelloSDL2/v16/.suo
Project/03_GUI/win32/.vs/SDLGUI/v16/.suo
Project/05_MidiPlayer/Resources/midifile.list
Project/06_OpenTyrian/win32/.vs/OpenTyrian/v16/.suo
